.payment table{
    font-weight: 600;
    color: #0006db;
}

.payment button{
    padding: 8px 15px;
    border-radius: 5px;
    background: #000d6b;
    color: #fff;
    border: none;
    outline: none;
}